#rock
  = item_image(user_choice, computer_choice, 'rock')

#lizard_paper
  = item_image(user_choice, computer_choice, 'lizard')

  = item_image(user_choice, computer_choice, 'paper')

#spock_scissors
  = item_image(user_choice, computer_choice, 'spock')

  = item_image(user_choice, computer_choice, 'scissors')

#selection
  %form{ :action => "/", :method => 'post'}
    %input{ :type => 'radio', :name => 'choice', :value => '0', :checked => true } Rock
    %input{ :type => 'radio', :name => 'choice', :value => '1' } paper
    %input{ :type => 'radio', :name => 'choice', :value => '2' } Scissors
    %input{ :type => 'radio', :name => 'choice', :value => '3' } Spock
    %input{ :type => 'radio', :name => 'choice', :value => '4' } Lizard
    %input{ :type => 'submit' }


- if result
  #result
    %p  You chose #{user_choice}, and computer chose #{computer_choice}
    %p= result
